.header {
    position: relative;
    z-index: 2;
    padding: 6vw 0;

    &__wrapper {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        padding: 10px;
        cursor: pointer;

        &.active {
            .header__button_line:first-child {
                transform: rotate(-135deg);
            }
            .header__button_line:last-child {
                transform: rotate(135deg);
            }
        }
    }

    &__button_line {
        display: block;
        height: 1px;
        width: 35px;
        background-color: white;
        transition: 0.3s ease;
    }

    &__button_line:last-child {
        transform: translateY(7px);
    }
}