.therapy {
    background-color: black;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    &__title {
        color: white;
    }

    &__image {
        width: 100%;
    }
}